dotenv
google-ai-generativelanguage
google-cloud-firestore
google-cloud-storage
huggingface-hub
langchain
langchain-anthropic
langchain-google-firestore
langchain-google-genai
langchain-huggingface
langchain-text-splitters
langsmith
openai
pydantic
python-dotenv
tiktoken
tokenizers
chromadb
langchain-chroma
